<div class="container">
  <div class="row">
    <div class="card" routerLink="rafeeqah">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Rafeeqah</h5>
        <p class="text">SAS</p>
      </div>
    </div>
    <div class="card" routerLink="elona">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Lelona</h5>
        <p class="text">SAS</p>
      </div>
    </div>
  </div>
</div>