<div class="container">
  <div class="row">
    <div class="card col" routerLink="tsepang">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Tsepang Maseti</h5>
        <p class="text">Web Developer</p>
      </div>
    </div>
    <div class="card col" routerLink="clementine">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Clementine</h5>
        <p class="text">Web Developer</p>
      </div>
    </div>
    <div class="card col" routerLink="cebokazi">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Cebokazi </h5>
        <p class="text">Web Developer</p>
      </div>
    </div>
    <div class="card col" routerLink="dildaar">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Dildaar</h5>
        <p class="text">Web Developer</p>
      </div>
    </div>
    <div class="card col" routerLink="nwabisa">
      <div class="image">
        <img src="" class="img" alt="...">
      </div>
      <div class="content">
        <h5 class="title">Nwabisa</h5>
        <p class="text">Web Developer</p>
      </div>
    </div>
  </div>
</div>