.card {
    width:1000px;
    height: 600px;
    background: black;
    border: 0px;
    border-radius: 0%;

    margin-top: 50px;
    margin-left: 200px;
    /* border-radius: ; */
}

.top {
    display: flex;
}

.image {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}

.user-init {
    margin-top: 30px;
    color: white;
}

.about, .skills {
    margin-left: 20px;
}

.about h3, .skills h3 {

    margin-left: 400px;

}

.about p{
    width: 600px;
    margin-left: 200px;
}

.social {
    position: absolute;
    bottom: 20px;
    left: 350px;
    /* margin-left: ; */
}
#icons {
    color: gray;
    width: 40px;
    height: 40px;
}